<div class="btn-toolbar" role="toolbar">
    <div class="btn-group" role="group">
        <button type="btn btn-secondary" href="home">Back</button>
    </div>
    <div class="btn-group mr-2" role="group">
        <button type="btn btn-secondary"
                class="btn btn-secondary dropdown-toggle"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false">
        New
        </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
            <a class="dropdown-item" href="#">Random Character</a>
            <a class="dropdown-item" href="#">Leveled Character</a>
        </div>

        <button type="btn btn-secondary">Load</button>
        <button type="btn btn-secondary">Save</button>
        <button type="btn btn-secondary">Print</button>
        <button type="btn btn-secondary">Reset</button>
    </div>
    <div class="btn-group mr-2" role="group">
        <button type="btn btn-secondary">Character 1</button>
        <button type="btn btn-secondary">Character 2</button>
    </div>
</div>