@import './colorRank/colorRank.component';

$black-color: #333;
$white-color: #fff;

%title-font {
  font-family: "Comic Sans MS", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
}

#paranoia {
  @extend %title-font;
  border-collapse: collapse;
  .page {
    padding: 5px 7px;
    h1 {
      background-color: rgb(170, 170, 170);
      color: $black-color;
      border: 2px solid $black-color;
      margin-bottom: 0;
      text-align: center;
    }
    .panel{
      padding: 0;
      border: 2px solid $black-color;
      &.general{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50px 50px;
        grid-column-gap: 20px;
        grid-row-gap: 15px;
        padding: 10px 15px 15px;
      }
      h2{
        background-color: $black-color;
        color: $white-color;
        text-align: center;
      }
      &.attributes-weapons {
        display: flex;
        flex-direction: row;
        & > article {
          flex: 50% 1 1;
          .attributes {
            paranoia-random-attribute:nth-child(2) {
              display: inline-block;
              padding-top: 70px;
            }
          }
          & > article {
            &.attributes-bonus {
              display: grid;
              grid-template-rows: 1fr 2fr;
              grid-template-columns: 1fr 1fr;
              .attributes {
                grid-row-start: 1;
                grid-row-end: 3;
              }
            }
            &.weapon {

              table {
                thead > tr, tbody > tr {
                  & > td:nth-child(2) {
                    width: 20%;
                    .input-group {
                      width: 40px;
                    }
                    input {
                      width: 40px;
                    }
                  }
                  & > td:nth-child(3) {
                    width: 20%;
                    input {
                      width: 50%;
                    }
                  }
                  & > td:nth-child(4) {
                    width: 10%;
                    input {
                      width: 50%;
                    }
                  }
                  & > td:nth-child(5) {
                    width: 10%;
                    input {
                      width: 50%;
                    }
                  }
                  & > td:nth-child(6) {
                    width: 5%;
                    input {
                      width: 50%;
                    }
                  }
                }
              }
            }
            &.armour {
              display: flex;
              flex-direction: row;
              justify-content: center;
            }
          }
        }
      }
    }
  }
}